<h1>BootstrapTest#t1</h1>
<p>Find me in app/views/bootstrap_test/t1.html.erb</p>

<p>popover 弹出框测试</p>
<p>
	<%# TODO: weida 进一步测试, 添加独自内容 %>
	<button type="button" class="btn btn-default" data-toggle="popover" title="ポップオーバーのタイトル" data-content="ポップオーバーの内容。" data-placement="top">サンプル・ボタン</button>
	｜
	<button type="button" class="btn btn-default" data-toggle="popover" title="ポップオーバーのタイトル" data-content="ポップオーバーの内容。" data-placement="bottom">サンプル・ボタン</button>
	｜
	<button type="button" class="btn btn-default" data-toggle="popover" title="ポップオーバーのタイトル" data-content="ポップオーバーの内容。">サンプル・ボタン</button>
</p>
