<h1>Pro::DecoratorTest#t1</h1>
<p>Find me in app/views/pro/decorator_test/t1.html.erb</p>
<div class="test-area">
  <%= @pro_sample_model.link %><br>
  <%= @pro_sample_model.link("自定义的链接标题") %>
</div>
