<h1>ViewTest#t4</h1>
<%# TODO: HOTFIX 把check_box_tag, button_to加到博客里去 %>
<p>Find me in app/views/view_test/t4.html.erb</p>

<% if defined?(params[:check_box_tag_test]) != nil && params[:check_box_tag_test] != nil  %>
1212
  <%= params[:check_box_tag_test] %>
<% else %>
2121
  <%= '错误' %>
<% end %>


<%= button_to "button_to", :action => "t5" %>
<%= link_to "link_to", :action => "t5" %>
