<% provide :getMap, 'true' %>
<h1>GoogleMapTest#t1</h1>
<p>Find me in app/views/google_map_test/t1.html.erb</p>

<div id="map" style="height: 400px; width: 400px; margin: auto; text-align: center;">12</div>
