<% provide :title, 'Start Model Test' %>
<h1>ModelTest#t1</h1>
<p>Find me in app/views/model_test/t1.html.erb</p>


<%#= render 'model_test/itemTable', models: @find %>
<%#= render 'model_test/itemTable', models: @model_tests %>
<%= render 'model_test/itemTable', models: [@a, @b] %>
